[user]
	email = majoros.henry@gmail.com
	name = Henry Majoros
[push]
	default = simple
[alias]
    ci = commit
    st = status
    br = branch -vv
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = /usr/bin/vim
